/*reset.css*/
/* RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html,
div,
blockquote,
img,
label,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
ul,
ol,
li,
dl,
dt,
dd,
form,
a,
fieldset,
input,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

body {
  line-height: 1;
}

ul,
ol {
  list-style: none;
}

img {
  border: 0;
}

button {
  background-color: unset;
  border: 0;
}

a, button {
  cursor: pointer;
}

/*END RESETS*/
