/*reset.css*/
/* RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html,
div,
blockquote,
img,
label,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
ul,
ol,
li,
dl,
dt,
dd,
form,
a,
fieldset,
input,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

body {
  line-height: 1;
}

ul,
ol {
  list-style: none;
}

img {
  border: 0;
}

button {
  background-color: unset;
  border: 0;
}

a,
button,
.link {
  cursor: pointer;
}

/* Font styles  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}

html {
  font-size: 90%;
}

/*END RESETS*/
